body {
    margin: 0;
    background: #ffd8ec;
    font-family: "Arial";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    margin-top: 30px;
    font-size: 28px;
    color: #d62382;
}

.lock-container {
    margin-top: 120px; /* antes: 40px */
}


.lock {
    position: relative;
    width: 260px;
    height: 350px;
}

.shackle {
    width: 140px;
    height: 150px;
    background: #ff99ce;
    border-radius: 70px 70px 0 0;
    position: absolute;
    top: -60px;
    left: 60px;
    border: 12px solid #ff73bd;
    border-bottom: none;
    transition: transform 0.8s ease;
}

.heart {
    position: absolute;
    bottom: -40px; /* BAJA EL CORAZÓN PARA QUE NO TAPE */
    left: 0;
    width: 260px;
    height: 220px;
    background: #ff5fae;
    border-radius: 15px 15px 80px 80px; 
    box-shadow: inset 0 -35px 40px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Semicírculo izquierdo */
.heart::before {
    content: "";
    position: absolute;
    top: -70px;
    left: 15px;
    width: 120px;
    height: 120px;
    background: #ff5fae;
    border-radius: 50%;
}

/* Semicírculo derecho */
.heart::after {
    content: "";
    position: absolute;
    top: -70px;
    right: 15px;
    width: 120px;
    height: 120px;
    background: #ff5fae;
    border-radius: 50%;
}


/* Efecto de brillo arriba */
.shine {
    position: absolute;
    width: 130px;
    height: 50px;
    background: rgba(255,255,255,0.45);
    top: 10px;
    left: 65px;
    border-radius: 40px;
    transform: rotate(-20deg);
    z-index: 5;
}


.digits {
    position: relative;
    display: flex;
    gap: 15px;
    transform: none; /* QUITA LA ROTACIÓN */
    z-index: 10;
}


.digit-box {
    background: #ffe9f5;
    padding: 10px;
    border-radius: 15px;
    width: 60px;
    text-align: center;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.digit {
    font-size: 28px;
    margin: 10px 0;
    font-weight: bold;
    color: #d6156f;
}

button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #d62383;
    font-weight: bold;
}

#unlocked-message {
    display: none;
    margin-top: 40px;
    width: 80%;
    max-width: 400px;
    padding: 20px;
    background: white;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.25);
}
